body{
  padding: 10px;
  align-items: center;
}
ul{
list-style-type: none;  
}
li {
  float: left;
}
li {
  display: block;
  padding: 8px;
  background-color: #3610a0;
  color: white;
  font-weight: 600;
}
li a{
  color: white;

}
nav{
  margin: 1px 0px 5px 0px;
}
.box{
  border-bottom: 2px solid #d9b0dd;
}